<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>SendServlet</servlet-name>
    <servlet-class>com.z.response.SendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestServlet</servlet-name>
    <servlet-class>com.z.request.RequestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestRequestServlet</servlet-name>
    <servlet-class>com.z.request.TestRequestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestResponseServlet</servlet-name>
    <servlet-class>com.z.response.TestResponseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendServlet2</servlet-name>
    <servlet-class>com.z.response.SendServlet2</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>CookieServlet</servlet-name>
    <servlet-class>com.z.cookie.CookieServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReadCookieServlet</servlet-name>
    <servlet-class>com.z.cookie.ReadCookieServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetAgeCookie</servlet-name>
    <servlet-class>com.z.cookie.SetAgeCookie</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddCookieServlet</servlet-name>
    <servlet-class>com.z.cookie.path.AddCookieServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCookieServlet</servlet-name>
    <servlet-class>com.z.cookie.path.GetCookieServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddCookieServlet2</servlet-name>
    <servlet-class>com.z.cookie.path.AddCookieServlet2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCookieServlet2</servlet-name>
    <servlet-class>com.z.cookie.path.GetCookieServlet2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CnCookieServlet</servlet-name>
    <servlet-class>com.z.cookie.CnCookieServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MaxLengthServlet</servlet-name>
    <servlet-class>com.z.cookie.MaxLengthServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.z.session.SessionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>URLSessionServlet</servlet-name>
    <servlet-class>com.z.session.URLSessionServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>SendServlet</servlet-name>
    <url-pattern>/sendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestServlet</servlet-name>
    <url-pattern>/requestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestRequestServlet</servlet-name>
    <url-pattern>/testRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestResponseServlet</servlet-name>
    <url-pattern>/testResponseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendServlet2</servlet-name>
    <url-pattern>/sendServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/cookieServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReadCookieServlet</servlet-name>
    <url-pattern>/readCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetAgeCookie</servlet-name>
    <url-pattern>/setAgeCookie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCookieServlet</servlet-name>
    <url-pattern>/addCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCookieServlet</servlet-name>
    <url-pattern>/getCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCookieServlet2</servlet-name>
    <url-pattern>/cookie/addCookieServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCookieServlet2</servlet-name>
    <url-pattern>/cookie/getCookieServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CnCookieServlet</servlet-name>
    <url-pattern>/cnCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MaxLengthServlet</servlet-name>
    <url-pattern>/maxLengthServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/sessionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>URLSessionServlet</servlet-name>
    <url-pattern>/urlSessionServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
